 <section class="splash-screen">
    <div class="logo-container">
     <h1 class="logo">BudgetWise</h1>
    </div>
     <div class="signs-container">
      <%= link_to 'LOG IN',  new_user_session_path, class: 'login-link' %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'signup-link' %>
     </div>
  </section>